@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');
.content-landscape{
    object-fit: contain;
    border-radius: 10px;
}

.content-portrait{
    display: none;
    object-fit: contain;
    border-radius: 10px;
}

.tagline{
    padding-bottom: 10px;
    align-self: center;
    font-family: 'Do Hyeon', sans-serif;
    color: white;
}

.contentmodal{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: auto;
    overflow-y: scroll;
    scrollbar-width: none;
    font-family: 'Do Hyeon', sans-serif;
}

.contentmodal::-webkit-scrollbar{
    display: none;
}

.content-about{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(39, 39, 39);
    border-radius: 10px;
    box-shadow: 2px 5px 10px black;
}

.content-title{
    display: flex;
    justify-content: center;
    background-color: #dddde0;
    margin-left: 17px;
    margin-right: 17px;
    border-radius: 5px;
    color: rgb(39, 39, 39);
    padding: 5px;
}

.content-des{
    display: flex;
    height: auto;
    overflow-y: scroll;
    padding: 15px;
    border-radius: 5px;
    margin-left: 17px;
    margin-right: 17px;
    scrollbar-width: thin;
    box-shadow: inset 0 0 5px black;
    text-align: justify;
    background-color: #dddde0;
    color: rgb(39, 39, 39);
}

.content-des::-webkit-scrollbar{
    display: none;
}

@media (min-width: 835px){
    .content-landscape{
        display: none;
    }
    .content-portrait{
        display: flex;
        width: 38%;
    }
    .contentmodal{
        flex-direction: row;
        justify-content: space-around;
        padding: 10px 0;
    }
    .content-about{
        width: 58%;
        padding: 0;
        height: 100%;
    }
    .content-title{
        font-size: 3.5vw;
    }
    .content-des{
        font-size: 22px;
    }
}

.rating{
    font-weight: bolder;
    display: flex;
    justify-content: center;
    background-color: rgb(39, 39, 39);
    width: 10%;
    border-radius: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
    align-self: center;
}

.genres{
    display: flex;
    justify-content: center;
}

.modal-btn:hover{
    box-shadow: 2px 5px 10px black;
}