.media{
    color: rgb(253, 253, 253);
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 5px;
    margin: 5px 0;
    background-color: rgb(39, 39, 39);
    border-radius: 10px;
    position: relative;
    font-family: 'Do Hyeon', sans-serif;
    cursor: pointer;
    box-shadow: 2px 3px 5px aqua;
}

.media:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(50, 51, 50);
}

@media(max-width:550px){
    .media{
        width: 46%;
    }
}

.poster{
    border: 3px solid rgb(28, 167, 192);
    border-radius: 10px;
}

.title{
    width:100%;
    text-align: center;
    font-size: 17px;
    padding: 8px 0;
}

.subtitle{
    display: flex;
    justify-content: space-between;
    padding-bottom: 3px;
}